h1 {
  background-clip: text;
  color: transparent;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(217, 150, 255),
    rgb(158, 250, 255),
    rgb(255, 166, 228)
  );
  font-size: 100px;
  filter: drop-shadow(5px 5px 3px rgb(255, 255, 255));
}
body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(
    rgb(255, 232, 235),
    rgb(230, 183, 214),
    rgb(204, 251, 255),
    white,
    rgb(255, 233, 237)
  );
  height: 100vh;
}
p {
  color: rgb(208, 255, 255);
  font-size: 30px;
}
b {
  font-size: 50px;
  color: rgb(180, 219, 255);
}
a {
  text-decoration: wavy underline rgb(159, 233, 255);
}
ul {
  font-size: 30px;
  color: rgb(184, 158, 255);
  margin-top: 0%;
}
.AbtMeSomeThingsFisrtPageIdkWhyItIsSooooLong li::before {
  content: "◌ ";
}
header ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  
}
header {
  margin:0 ;
  width: 100%;
  height: 40px;
  background: radial-gradient(white, rgb(179, 221, 255));
}
header ul a {
  text-decoration: none;
  color: lightpink;
}
