main {
  background: linear-gradient(
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  width: 100vw;
  
}
body {
  height: 100vh;
  width: 100vw;
}
.Dogpic, .CatPic {
  max-width: 50%;
  
}
.DogsInfo, .CatsInfo {
  width: 100%;
   display:flex ;
   justify-content: space-around;
   align-items: center;
   text-align: center;
}
  .Dogpic img, .CatPic img {
    width: 100%;
    max-height: 1200px;
  }         
  .BabyPuppy {
    transform: scale(0.9) rotate(-10deg);

  }    
  .SnowyPuppy {
    transform: rotate(10deg);

  } 
  .LazyPuppy {
    transform: scale(0.8) rotate(15deg);

  } 
