main {
  background: linear-gradient(
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255),
    rgb(255, 142, 210),
    rgb(143, 188, 255),
    rgb(207, 239, 255),
    rgb(249, 206, 255),
    rgb(178, 139, 255)
  );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
  width: 100vw;
  
}
body {
  height: 100vh;
  width: 100vw;
}
.Dogpic {
  max-width: 100%;
  
}
.DogsInfo {
  width: 100%;
}
